body{
    margin: 20px;
    color:white;
    background-image: linear-gradient(to right,#176191,#578480,#157977,#179060);
}
h1 {
    text-align: center;
}
.container{
    text-align: center;
   
}
.container{
    background-image: linear-gradient(to right,#073f46,#063b4e ,#125f57,#074738);
   width:500px;
   justify-content: center;
   margin: 5px 400px 50px 400px ;
   position: relative;
   
    border-radius: 10px;
    padding: 10px;
    border:none;
}
.mid{
    text-align: center;
   
    text-shadow: 0 0 5px black;
    
}
#remove{
    text-decoration:none;
}
#id {
    background-color: blue;
}
.row{
    display: flex;
    justify-content: space-between;
   margin:15px ;
   text-shadow: 0 0 5px black;
 
}
.left{
    text-align: left;
    margin: 0px 15px;
}
.paddng{
    padding: 10px 130px;
    border-radius: 5px;
    border:none;
    text-align: left;
}
p{
    color: grey;
}
.btn
{
    background-color: black;
    color: white;
    padding: 5px 190px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0px 15px;
}
